iframe{
  border:solid 1px #777;
  width: 100%;
  height: 500px;
  margin: 0 auto;
}

nav .calendar{
  padding: 5px;
  text-decoration: underline;
}

@media screen and (min-width: 800px){
  iframe{
    width: 100%;
    height: 800px;
  }
}
@media screen and (min-width: 1900){
  iframe{
    width: 70%;
    height: 800px;
  }
}