:focus{
    border:solid 2px;
}

html{
    scroll-behavior: smooth;
}

@media screen and (prefers-reduced-motion: reduce){
  html{
      scroll-behavior: auto; /* Removes scroll animation */
  }

  .skip a{
    -webkit-transition: none; /* sets to default setting */
    transition: none;        /* sets to default setting */
   }

  /*Turn off parallax*/
  header{
    background-attachment: initial;
  }
}


header{
  border: 5px solid #FFCB05;
  display: grid;
  grid-template-columns: auto  auto;
  grid-template-rows: 80px;
  background-color: #FFCB05;
  text-align: left;
  align-items: center;
}

header img{
  height: 100%;
  justify-self: end;
}

nav a:hover, :focus{
  text-decoration: underline;
}
nav a:focus{
  text-decoration: underline;
}

nav li{
  display:inline;
  padding-right:20px;

}

nav a{
  color: black;
  font-weight: bold;
  text-decoration: none; 
}

body{
  background-color: #00274C;
  font-size: 18px;
  line-height: 1.15;
  margin: 0;
  padding: 0;



}
body {
  min-height: 100%;
  display: grid;
  grid-template-rows: auto 1fr auto;
}

.main {
  min-height: 100%;
  display: grid;
  grid-template-rows: auto 1fr auto;
}


.footer {
  height: 50px;
  margin-top: -50px;
}
footer{
  background-color: black;
  color: white;
  padding-top: 30px;
  padding-bottom: 30px;
  text-align: center;
  font-size: 30px;

  /* position: fixed;
  bottom: 0;
  width: 100%; */
}



footer p{
  padding-bottom: 20px;
}



.Contacts{
  object-fit:fill;
  display: flex;
  /* grid-template-columns: auto 15% 15% 15% 15% auto ;
  justify-content: space-around;
  align-items: center; */
  justify-content: space-between;
}
.Contacts a img{
  max-height: 50px;
}



@media screen and (min-width: 800px){
  .Contacts{
    justify-content: space-around;
  }

}
@media screen and (min-width: 2000px){
  .Contacts{
    justify-content: space-evenly;
  }

}

.skip-to-content-link{
  left: 50%;
  position:absolute;
  transform: translateY(-110%);
  background-color: white;
}
.skip-to-content-link:focus{
  transform: translateY(0%)
}